{% extends "base.html" %}

{% block title %}About Us - Healthcare Prescription Guide{% endblock %}

{% block content %}

<div class="container">

    <div class="page-content">
        <h2>About Us</h2>
        <p>Welcome to "Healthcare-Prescription-Guide", where health meets technology for a brighter, healthier
            future. We are a passionate team of healthcare professionals, data scientists, and technology enthusiasts.</p>
    </div>

    <div class="page-content my-4">
        <h2>Our Vision</h2>
        <p>We envision a world where access to healthcare information is a fundamental right.</p>
    </div>

    <div class="page-content">
        <h2>Join Us on this Journey</h2>
        <p>Thank you for choosing "Healthcare-Prescription-Guide" as your trusted health companion.</p>
    </div>

</div>
{% endblock %}
