{% extends "base.html" %}

{% block title %}Contact Us - Healthcare Prescription Guide{% endblock %}

{% block content %}

<div class="container">

    <div class="page-content">
        <h2>Contact Us</h2>
        <p>Have questions or need assistance? We're here to help!</p>
    </div>

    <div class="page-content my-4">
        <h2>Customer Support</h2>
        <p>Email: aadityabchatterjee@gmail.com</p>
        <p>Mobile: +91 9999999999</p>
    </div>

    <div class="page-content">
        <h2>Location</h2>
        <p>Near HCU campus, Gachibowli, Hyderabad-500032, India</p>
    </div>

</div>
{% endblock %}
